* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #333;
}

* a:hover {
  opacity: 0.3;
}

* li {
  list-style: none;
}

html body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

html body header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header > nav > div {
  margin: 12px 12px;
}

html body header > nav > div a {
  display: block;
  padding: 5px 15px;
}

html body header > nav > div a h1 {
  color: #333333;
}

html body header > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body header > nav > ul li:last-child {
  margin: 0 20px 0 5px;
}

html body header > nav > ul li a {
  padding: 10px 15px;
  color: black;
  font-size: .8em;
}

html body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: none;
      align-content: none;
  position: relative;
}

html body main div.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40%;
  position: relative;
}

html body main div.text-container::after {
  content: "";
  width: 200px;
  height: 100%;
  background-color: white;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  position: absolute;
  right: -100px;
}

html body main div.text-container div.inner {
  padding: 80px 0 60px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: none;
      align-content: none;
}

html body main div.text-container div.inner > * {
  position: relative;
  z-index: 1;
}

html body main div.text-container div.inner h1 {
  font-size: 50px;
  width: 140%;
  line-height: 1.2em;
}

html body main div.text-container div.inner h2 {
  font-size: 17px;
  line-height: 3em;
}

html body main div.text-container div.inner p {
  font-size: 12px;
  padding-top: 15px;
  width: 75%;
}

html body main div.bgImg {
  width: 60%;
  height: 500px;
  background-image: url("/images/859078_s.jpg");
  background-size: cover;
}
/*# sourceMappingURL=top-naname.css.map */