@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    a:hover {
        opacity: 0.3;
    }
    color: #333;
    li{
        list-style: none;
    }
}

@mixin flex ($dir:row,$wrap:wrap,$juCo:center,$aliCo:none){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $juCo;
    align-content: $aliCo;


}
$logo-BgColor:rgba(#393E46,1.0);
$h3-bodColor:#000;
@mixin hedCommon($bg-pos:-600px){
        
    display: flex;
    flex-flow: column ;
    justify-content:flex-start;
    align-content: center;
    >nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        >div{
            // background-color:$logo-BgColor;
            margin: 12px 12px;

            a{display: block;
                // background-color:$logo-BgColor;
                padding: 5px 15px;
                
                h1{
                    color: rgba($color: #333, $alpha: 1.0);

                }
            }

        }
        >ul{
           display: flex;
           flex-flow: row ;
           align-items: center;
           li{
               &:last-child{
                   margin: 0 20px 0 5px;
               }
              a{
                  padding: 10px 15px;
                  color: rgba($color: #000000, $alpha: 1.0);
                  font-size: .8em;
                  
              } 
           } 
        }
        
    }

}

html{body{
    header{
        @include hedCommon(0px);
    }
    
    
    
    main{
    @include flex();
    position: relative;
        div.text-container{
            @include flex($wrap:nowrap,$juCo:center,$aliCo:center);
            width: 40%;
            position: relative;
            &::after{
                content:"";
                width: 200px;
                height: 100%;

                background-color: rgba($color: #fff, $alpha: 1);
                transform: skewX(-20deg);
                position: absolute;
                right: -100px;
                
            }

        div.inner{
            padding: 80px 0 60px 60px;
            @include flex(column,nowrap,start);
            >*{
                position: relative;
                z-index: 1;
            }
            h1{
                font-size: 50px;
                width: 140%;
                line-height: 1.2em;
            }
            h2{
                font-size: 17px;
                line-height: 3em;
            }
            p{
                font-size: 12px;
                padding-top: 15px;
                width: 75%;
                
            }
 
            
        }

    }
    div.bgImg{
        width: 60%;
        height: 500px;
        background-image: url("/images/859078_s.jpg");
        // background-position: 0 -110px;
        background-size: cover;

    }

    


}
}
}